#login_form{
	float: left;
}
#img_upload {
	display: block ;
	padding: 5px ;
	margin: 5px ;
	float: left ;
}
#submit_upload {
	display: block ;
	padding: 5px ;
	margin: 5px ;
	margin-left: 20px;
	margin-top: 50px ;
	width: 300px;
}
#preview {
	display: none ;
	margin: 0 auto ;
}
.text-inputs {
  padding : 0 10px;
  margin  : 5px;
  width   : 240px;
  height : 20px ;
}
textarea {
	padding: 0 10px;
	margin: 5px;
	width: 240px;
	height: 100px;
}